@import '/src/styles.scss';

nav{
  background-color: $main-color !important;
}

.navbar-brand, img{
  cursor: pointer;
}
.go-back-nav{
  width: 100%;
  text-align: right;
  color: #F5AA16;
  font-size: 16px;
}
