

  <form *ngIf="currentStep.type === 'home'" class="w-100 h-100 flex-col">

    <div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input [(ngModel)]="name" name="name" type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="weight" class="form-label">Peso (Kg)</label>
        <input [(ngModel)]="weight" name="weight"  type="number" class="form-control" id="weight">
      </div>
      <button (click)="addPatient(); nextStep({ key: 'main-options' })" class="btn btn-primary" [disabled]="!weight">Siguiente</button>
    </div>
  </form>

  <div *ngIf="currentStep.type === 'options'" class="w-100 h-100 flex-col">

    <h3 *ngIf="currentStep.label" class="text-center">{{currentStep.label}}</h3>

    <div class="flex-col-center">
      <button
        *ngFor="let opt of currentStep.options"
        (click)="nextStep(opt)"
        class="btn btn-primary btn-lg my-3 w-100"
        [disabled]="opt.disabled"
        >{{opt.label}}
    </button>
    </div>

  </div>

  <div *ngIf="currentStep.type === 'result'" [ngSwitch]="currentStep.name" class="w-100 h-100 flex-col">

    <h4 *ngIf="currentStep.label" class="text-center">{{currentStep.label}}</h4>

    <div  *ngSwitchCase="'difenil'">

      <h6 *ngIf="weight > compData.maxWeight" class="badge badge-pill badge-primary my-2">Máximo</h6>

      <p>
        Diluir
        {{ compData.mg * altWeight | number: '1.0-2' }} mg
        en {{compData.sf * altWeight | number: '1.0-2'}} ml de solución fisiológica a pasar
        en {{(compData.ml * altWeight + compData.sf * altWeight) * 3 | number: '1.0-2'}} ml/hs
      </p>
    </div>

    <ng-container *ngSwitchCase="'hipokalemia-lm-as'">
      <div class="text-center">
        <h5 class="badge badge-pill badge-primary">Vía oral</h5>
        <h5>
          {{compData.header.min * weight > compData.header.maxMeq ? compData.header.maxMeq :  compData.header.min * weight | number: '1.0-2'}} -
          {{compData.header.max * weight > compData.header.maxMeq ? compData.header.maxMeq :  compData.header.max * weight | number: '1.0-2'}} mEq cada 6 hs
        </h5>
      </div>
      <div>
        <h5 *ngIf="compData.header.min * weight > compData.header.maxMeq" class="badge badge-pill badge-primary">Máximo {{compData.header.maxMeq}} mEq</h5>
      </div>
      <div>
        <div class="my-2">
          <div class="d-flex align-items-center justify-content-between">
            <h5>KAON</h5>
            <!-- <h6 *ngIf="compData.kaon.min * weight > compData.kaon.maxMeq" class="text-orange">Máximo</h6> -->
          </div>
          <p>
            {{compData.kaon.min * weight > compData.kaon.maxMeq ? compData.kaon.maxMeq :  compData.kaon.min * weight | number: '1.0-2'}} -
            {{compData.kaon.max * weight > compData.kaon.maxMeq ? compData.kaon.maxMeq :  compData.kaon.max * weight | number: '1.0-2'}} ml cada 6 hs
          </p>
        </div>
        <div class="my-2">
          <div class="d-flex align-items-center justify-content-between">
            <h5>ClK (1=1)</h5>
            <!-- <h6 *ngIf="compData.ClK1a1.min * weight > compData.ClK1a1.maxMeq" class="text-orange">Máximo</h6> -->
          </div>
          <p>
            {{compData.ClK1a1.min * weight > compData.ClK1a1.maxMeq ? compData.ClK1a1.maxMeq :  compData.ClK1a1.min * weight | number: '1.0-2'}} -
            {{compData.ClK1a1.max * weight > compData.ClK1a1.maxMeq ? compData.ClK1a1.maxMeq :  compData.ClK1a1.max * weight | number: '1.0-2'}} ml cada 6 hs
          </p>
        </div>
        <div class="my-2">
          <div class="d-flex align-items-center justify-content-between">
            <h5>ClK (1=3)</h5>
            <!-- <h6 *ngIf="compData.ClK1a3.min * weight > compData.ClK1a3.maxMeq" class="text-orange">Máximo</h6> -->
          </div>
          <p>
            {{compData.ClK1a3.min * weight > compData.ClK1a3.maxMeq ? compData.ClK1a3.maxMeq :  compData.ClK1a3.min * weight | number: '1.0-2'}} -
            {{compData.ClK1a3.max * weight > compData.ClK1a3.maxMeq ? compData.ClK1a3.maxMeq :  compData.ClK1a3.max * weight | number: '1.0-2'}} ml cada 6 hs
          </p>
        </div>
      </div>
    </ng-container>

    <div  *ngSwitchCase="'hipokalemia-mg-s'" class="w-100 h-75 flex-col">
      <div class="text-center">
        <h5 *ngIf="compData.header.min * weight > compData.header.maxMeq" class="badge badge-pill badge-primary mb-4">Dosis máxima: {{compData.header.maxMeq}} mEq cada 6hs</h5>
        <h5>
          {{compData.header.min * weight > compData.header.maxMeq ? compData.header.maxMeq :  compData.header.min * weight | number: '1.0-2'}} -
          {{compData.header.max * weight > compData.header.maxMeq ? compData.header.maxMeq :  compData.header.max * weight | number: '1.0-2'}} mEq / dosis
        </h5>
      </div>
      <div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <div class="mx-2">
          <h5 class="text-center">Presentación</h5>
          <mat-button-toggle-group [(ngModel)]="hipokalemiaMgSRel"  name="fontStyle" aria-label="Font Style" (change)="handleHipokalemiaMgS()">
            <mat-button-toggle value="rel1a1">1=1</mat-button-toggle>
            <mat-button-toggle value="rel1a3">1=3</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="mx-2">
          <h5 class="text-center">Vía</h5>
          <mat-button-toggle-group [(ngModel)]="hipokalemiaMgSVia" name="fontStyle" aria-label="Font Style" (change)="handleHipokalemiaMgS()">
            <mat-button-toggle value="perif">Perisférica</mat-button-toggle>
            <mat-button-toggle value="central">Central</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>

      <div>
        <p *ngIf="compData.result">
            Diluir  {{compData.result.kMin | number: '1.0-2'}} - {{compData.result.kMax | number: '1.0-2'}} ml de ClK en
                    {{compData.result.viaMin | number: '1.0-2'}} - {{compData.result.viaMax | number: '1.0-2'}} ml de solución fisiológica
            a pasar en
                    {{(compData.result.kMin + compData.result.viaMin ) / compData.result.goteo | number: '1.0-2'}} -
                    {{(compData.result.kMax + compData.result.viaMax ) / compData.result.goteo | number: '1.0-2'}} ml/hs
        </p>
      </div>
    </div>

  </div>

