

  <form *ngIf="currentStep.type === 'home'" class="w-100 h-100 flex-col">

    <div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input [(ngModel)]="name" name="name" type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label for="weight" class="form-label">Peso (Kg)</label>
        <input [(ngModel)]="weight" name="weight"  type="number" class="form-control" id="weight">
      </div>
      <button (click)="addPatient(); nextStep({ key: 'main-options' })" class="btn btn-primary" [disabled]="!weight">Siguiente</button>
    </div>
  </form>

  <div *ngIf="currentStep.type === 'options'" class="w-100 h-100 flex-col">

    <h3 *ngIf="currentStep.label" class="text-center">{{currentStep.label}}</h3>

    <div class="flex-col-center">
      <button
        *ngFor="let opt of currentStep.options"
        (click)="nextStep(opt)"
        class="btn btn-primary btn-lg my-3 w-100"
        [disabled]="opt.disabled"
        >{{opt.label}}
    </button>
    </div>

  </div>

  <div *ngIf="currentStep.type === 'result'" [ngSwitch]="currentStep.name" class="w-100 h-100 flex-col">

    <h4 *ngIf="currentStep.label" class="text-center">{{currentStep.label}}</h4>

    <p  *ngSwitchCase="'difenil'"> Diluir {{(compData.comp * weight) >  compData.compMax ?  compData.compMax : compData.comp * weight | number: '1.0-2' }} ml
      <span *ngIf="(compData.comp * weight) >  compData.compMax">(max)</span> de {{currentStep.label}}
      en {{compData.sf * weight | number: '1.0-2'}} ml de solución fisiológica a pasar
      en {{compData.goteo.min * weight | number: '1.0-2'}} - {{compData.goteo.max * weight | number: '1.0-2'}} ml/hs
    </p>

    <div *ngSwitchCase="'hipokalemia-lm-as'">
      <div class="my-2">
        <h5>KAON</h5>
        <p>{{compData.kaon.min * weight | number: '1.0-2'}} - {{compData.kaon.max * weight | number: '1.0-2'}} ml cada 6 hs</p>
      </div>
      <div class="my-2">
        <h5>ClK (1=1)</h5>
        <p>{{compData.ClK1a1.min * weight | number: '1.0-2'}} - {{compData.ClK1a1.max * weight | number: '1.0-2'}} ml cada 6 hs</p>
      </div>
      <div class="my-2">
        <h5>ClK (1=3)</h5>
        <p>{{compData.ClK1a3.min * weight | number: '1.0-2'}} - {{compData.ClK1a3.max * weight | number: '1.0-2'}} ml cada 6 hs</p>
      </div>
    </div>

    <div  *ngSwitchCase="'hipokalemia-mg-s'" class="w-100 h-75 flex-col">
      <!-- Diluir (...) ml de ClK (1=1)/(1=3) en (...) ml de solucion fisiologica, a pasar en (....) ml/hs por via periférica/via central. -->
      <div class="d-flex justify-content-center w-100">
        <mat-button-toggle-group [(ngModel)]="hipokalemiaMgSRel" class="mx-2" name="fontStyle" aria-label="Font Style" (change)="handleHipokalemiaMgS()">
          <mat-button-toggle value="rel1a1">1=1</mat-button-toggle>
          <mat-button-toggle value="rel1a3">1=3</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group [(ngModel)]="hipokalemiaMgSMode" class="mx-2" name="fontStyle" aria-label="Font Style" (change)="handleHipokalemiaMgS()">
          <mat-button-toggle value="perif">Perisférica</mat-button-toggle>
          <mat-button-toggle value="central">Central</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <p *ngIf="compData.final">
          Diluir {{compData.final.K * weight | number: '1.0-2'}} ml de ClK
          en {{compData.final.mode * weight | number: '1.0-2'}} ml de solución fisiológica
          a pasar en {{(compData.final.K * weight + compData.final.mode * weight) / 2 | number: '1.0-2'}} ml/hs
        </p>
      </div>
    </div>

  </div>

